<h1>Editing Milestone</h1>

<%= render 'form' %>

<%= link_to 'Show', mainproject_milestone_path(@mainproject, @milestone) %> |
<%= link_to 'Back', mainproject_milestone_path(@mainproject, @milestone) %>
