/*
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/
/* Basic */
/* line 10, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-xsmall.scss */
html, body {
  min-width: 320px;
}

/* line 14, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-xsmall.scss */
body, input, select, textarea {
  font-size: 12pt;
}

/* List */
/* line 20, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-xsmall.scss */
ul.actions {
  margin: 0 0 2em 0;
}

/* line 24, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-xsmall.scss */
ul.actions li {
  padding: 1em 0 0 0;
  display: block;
  text-align: center;
  width: 100%;
}

/* line 31, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-xsmall.scss */
ul.actions li:first-child {
  padding-top: 0;
}

/* line 35, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-xsmall.scss */
ul.actions li > * {
  width: 100%;
  margin: 0 !important;
}

/* line 40, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-xsmall.scss */
ul.actions li > *.icon:before {
  margin-left: -2em;
}

/* line 44, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-xsmall.scss */
ul.actions.small li {
  padding: 0.5em 0 0 0;
}

/* line 48, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-xsmall.scss */
ul.actions.small li:first-child {
  padding-top: 0;
}

/* Button */
/* line 54, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-xsmall.scss */
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  padding: 0;
}

/* Banner */
/* line 63, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-xsmall.scss */
#banner {
  padding: 5em 2em 4em 2em;
}
