/*
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/
/* Basic */
/* line 10, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
body, input, select, textarea {
  font-size: 12pt;
}

/* line 14, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
h2 {
  font-size: 1.35em;
  line-height: 1.5em;
}

/* line 19, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
h3 {
  font-size: 1.2em;
  line-height: 1.5em;
}

/* line 24, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
}

/* Section/Article */
/* line 31, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
header.major {
  width: 90%;
  margin: 0 auto;
}

/* line 36, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
header.major h2 {
  font-size: 1.5em;
}

/* line 40, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
header.major h2 + p {
  font-size: 1.25em;
  margin: -0.5em 0 2em 0;
}

/* Wrapper */
/* line 47, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
.wrapper {
  padding: 3em 0 1em 0;
}

/* Banner */
/* line 53, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
#banner {
  padding: 5em 2em 4em 2em;
}

/* line 57, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
#banner h2 {
  font-size: 2em;
}

/* line 61, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
#banner p {
  font-size: 1.25em;
}

/* Main */
/* line 67, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
#main {
  padding: 4em 0 0 0;
}

/* Footer */
/* line 73, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
#footer {
  padding: 2em 0;
}

/* line 77, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
#footer .copyright {
  text-align: left;
}

/* line 81, /Users/agustincasal/Desktop/DESAFIO_LATAM/PROYECTO/project/app/assets/stylesheets/style-small.scss */
#footer .copyright li {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
  display: block;
}
