<!-- Header -->
<header id="header" class="skel-layers-fixed">
	<h1 style = "font-size:20px"><a href="#">Swoptcha</a></h1>
	<nav id="nav">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="left-sidebar.html">Quiénes Somos</a></li>
			<li><a href="right-sidebar.html">Productos</a></li>
			<!--<li><a href="no-sidebar.html">No Sidebar</a></li>-->
			<li><a href="https://www.changeersolutions.com/" class="button special" style="background-color: #88C043">Ingresar</a></li>
			<li><a href="#" class="button special">Registrarse</a></li>
		</ul>
	</nav>
</header>