<h2>Editar Stakeholder</h2>

<%= render 'form' %>

<%= link_to 'Show', mainproject_stakeholder_path(@mainproject, @stakeholder) %> |
<%= link_to 'Back', mainproject_stakeholder_path(@mainproject, @stakeholder) %>
