<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>Bienvenido a Swoptcha!</h2>
			<p>Gestión del cambio para el éxito de tus proyectos</p>
			<ul class="actions">
				<!--<li><a href="#content" class="button big special">Registrarse</a></li>-->
				<li><a href="#elements" class="button big alt">Aprenda más</a></li>
			</ul>
		</div>
	</section>

<!-- One -->
	<section id="one" class="wrapper style1">
		<header class="major">
			<h2>THINK · FEEL · DO</h2>
			<p>Cuantificando los resultados de la gestión de cambio</p>
		</header>
		<div class="container">
			<div class="row">
				<div class="4u">
					<section class="special box">
						<x class="icon fa-area-chart major" style="background:#FF1493">25%</x>
						<h3>Iniciativas de Cambio</h3>
						<p><b>25%</b> de los empleados creen que las iniciativas de cambio alcanzan los objetivos y se mantienen en el tiempo</p>
					</section>
				</div>
				<div class="4u">
					<section class="special box">
						<x class="icon fa-refresh major" style="background:#32CD32">22%</x>
						<h3>Training</h3>
						<p><b>22%</b> de los respondientes creen que la capacitación y el entrenamiento recibido en los proyectos es efectivo</p>
					</section>
				</div>
				<div class="4u">
					<section class="special box">
						<x class="icon fa-cog major" style="background:#1E90FF">40%</x>
						<h3>"Les llega el mensaje"</h3>
						<p><b>40%</b> de los jefes reciben el mensaje sobre las razones del cambio, mientras que ese % asciende al 68% para los gerentes</p>
					</section>
				</div>
			</div>
		</div>
	</section>
	
<!-- Two -->
	<section id="two" class="wrapper style2">
		<header class="major">
			<h2>Commodo accumsan aliquam</h2>
			<p>Amet nisi nunc lorem accumsan</p>
		</header>
		<div class="container">
			<div class="row">
				<div class="6u">
					<section class="special">
						<a href="#" class="image fit"><img src="<%= asset_path('comm.jpg')  %>" alt="" /></a>
						<h3>Gestión de Stakeholders & Comunicación</h3>
						<p>Entender los valores, expectativas y experiencias de los distintos grupos de interés; así como planificar, generar y distribuir información del proyecto en tiempo y forma son claves para el éxito del mismo.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Aprenda Más</a></li>
						</ul>
					</section>
				</div>
				<div class="6u">
					<section class="special">
						<a href="#" class="image fit"><img src="<%= asset_path('train.jpg')  %>" alt="" /></a>
						<h3>Capacitación & Entrenamiento</h3>
						<p>Entender las necesidades de capacitación, definir una estrategia y planificar las sesiones, preparar el material, dictar la capacitación y evaluar los resultados son todos pasos necesarios para un programa exitoso de Gestión del Cambio.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Aprenda Más</a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</section>

<!-- Three -->
	<!--<section id="three" class="wrapper style1">
		<div class="container">
			<div class="row">
				<div class="8u">
					<section>
						<h2>Mollis ut adipiscing</h2>
						<a href="#" class="image fit"><img src="<%= asset_path('pic03.jpg')  %>" alt="" /></a>
						<p>Vis accumsan feugiat adipiscing nisl amet adipiscing accumsan blandit accumsan sapien blandit ac amet faucibus aliquet placerat commodo. Interdum ante aliquet commodo accumsan vis phasellus adipiscing. Ornare a in lacinia. Vestibulum accumsan ac metus massa tempor. Accumsan in lacinia ornare massa amet. Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan commodo odio cubilia ac eu interdum placerat placerat arcu commodo lobortis adipiscing semper ornare pellentesque.</p>
					</section>
				</div>
				<div class="4u">
					<section>
						<h3>Magna massa blandit</h3>
						<p>Feugiat amet accumsan ante aliquet feugiat accumsan. Ante blandit accumsan eu amet tortor non lorem felis semper. Interdum adipiscing orci feugiat penatibus adipiscing col cubilia lorem ipsum dolor sit amet feugiat consequat.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Learn More</a></li>
						</ul>
					</section>
					<hr />
					<section>
						<h3>Ante sed commodo</h3>
						<ul class="alt">
							<li><a href="#">Erat blandit risus vis adipiscing</a></li>
							<li><a href="#">Tempus ultricies faucibus amet</a></li>
							<li><a href="#">Arcu commodo non adipiscing quis</a></li>
							<li><a href="#">Accumsan vis lacinia semper</a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</section>	-->		
	
<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<div class="row double">
				<div class="6u">
					<div class="row collapse-at-2">
						<div class="6u">
							<h3>Componentes</h3>
							<ul class="alt">
								<li><a href="#">Gestión de Stakeholders</a></li>
								<li><a href="#">Gestión de Comunicación</a></li>
								<li><a href="#">Capacitación & Entrenamiento</a></li>
							</ul>
						</div>
						<div class="6u">
							<h3>Países</h3>
							<ul class="alt">
								<li><a href="#">Chile</a></li>
								<li><a href="#">Argentina</a></li>
								<li><a href="#">Colombia</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="6u">
					<h2>PROPUESTA DE VALOR</h2>
					<p>Profesionalizar la práctica de gestión del cambio para ayudar a nuestros clientes a alcanzar sus objetivos transformacionales midiendo y cuantificando a lo largo del proceso</p>
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
					</ul>
				</div>
			</div>
			<ul class="copyright">
				<li>&copy; SWOPTCHA. All rights reserved.</li>
				<li>Diseño: <a href="http://www.swoptcha.com">SWOPTCHA.COM</a></li>
				<li>Imágenes: <a href="http://unsplash.com">SWOPTCHA.COM</a></li>
			</ul>
		</div>
	</footer>
