<body>
<P align=center><IMG border=0 hspace=0 alt="" align=baseline src="http://cdn02.masterstudies.com/element_db/21/21996_bg-comunicacion-imagen-corporativa.jpg"></P>
<DIV align=center>
      <TABLE style="HEIGHT: 25px; MARGIN-LEFT: auto; WIDTH: 600px; BACKGROUND-COLOR: #00008B; MARGIN-RIGHT: auto" align=center>
            <TBODY>
                  <TR>
                        <TD>&nbsp;</TD>
                  </TR>
            </TBODY>
      </TABLE>
</DIV>
<!--HEADER/BANNER END-->
<!--CONTENT OF BODY START-->
<DIV align=center>
      <TABLE style="MARGIN-LEFT: auto; WIDTH: 600px; MARGIN-RIGHT: auto" cellSpacing=0 cellPadding=0 align=center>
            <TBODY>
                  <TR>
                        <TD style="HEIGHT: 300px; PADDING-BOTTOM: 10px; TEXT-ALIGN: left; PADDING-TOP: 75px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; WIDTH: 600px; BACKGROUND-COLOR: #fcfcfc" vAlign=top>Estimado Administrador del Proyecto,<BR><BR><BR>Queremos informarle que el dia de mañana finaliza un hito del proyecto. <BR><BR><BR>Requerimos que ingrese a la plataforma y envie el mensaje correspondiente al cierre de la etapa. <BR><BR><BR><BR>Muchas Gracias,<BR><BR><BR><%= @mess %> 
                        </TD>
                  </TR>
<!--CONTENT BODY END-->
<!--FOOTER START-->
<!--This is a simple example of a footer that includes hyperlinks to your website and social networks. You will want to upload the images to your Trail Blazer Application Menu and change out the hyperlink URLs with your own. Inside the <Style> tag you can adjust the background color, margins and dimensions of this footer-->
<TR>
      <TD style="HEIGHT: 175px; TEXT-ALIGN: center; MARGIN-TOP: 25px; BACKGROUND-COLOR: #2a2a2a">
            <SPAN style="COLOR: #c3c3c3"><A style="TEXT-DECORATION: none" href="http://www.juanpabloforcongress.com">
            <SPAN style="COLOR: #c3c3c3"><U>www.swoptcha.com</U></SPAN></A><BR><BR>Si no desea continuar recibiendo notificaciones, comuniquese con el administrador.</SPAN>
                  <BR style="COLOR: #c3c3c3">
            <SPAN style="COLOR: #c3c3c3">Santiago de Chile<BR>All rights reserved<BR><BR></SPAN>
            <SPAN><A href="https://www.facebook.com/YourFaceBookPage"><IMG style="BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; MARGIN-RIGHT: 5px; opacity: 0.9" alt=Facebook src="http://trailblz.info/license/images/fb-35x35-pixels.png" width=35 longDesc="Facebook - Campaign to Elect Juan Pablo" height=35></A></SPAN>
            <SPAN><A href="https://www.twitter.com/YourTwitterPage"><IMG style="BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 5px; BORDER-TOP-WIDTH: 0px; opacity: 0.9" alt=Twitter src="http://trailblz.info/license/images/twitter-35x35-pixels.png" width=35 longDesc="Twitter - Campaign to Elect Juan Pablo" height=35></A></SPAN>
      </TD>
</TR>
<!--FOOTER END-->
</TBODY>
</TABLE>
</DIV>
</body>