
<body style="background-color:#FFFFFF">       
<table style="width: 100%;">
	<tr>
		<td></td>
		<td style="display:block!important;width:600px!important; margin:0 auto!important; /* makes it centered */ clear:both!important; padding: 15px" bgcolor="#FFFFFF">

			<div style="padding:15px;
	max-width:600px;
	margin:0 auto;
	display:block;">
			<table>
				<tr>
					<td style="padding:15px; width:600px; ">

<p style="background-color:#ECF8FF; margin-bottom: 15px; font-weight: normal; font-size: 14px; line-height: 1.6; font-family: 'Helvetica Neue'; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; height: 100%; padding: 15px"> Estimado <strong><%= @message.receivers %></strong>,
	<br>
	<br>
	 <%= @message.description %> 
	 <br> 
     Los saluda atentamente,
     <br>
     <br>
     <strong>El Equipo de Proyecto</strong>
 </p>
 <!-- social & contact -->
						<table style="background-color: #fafafa; width:700px!important">
							<tr>
								<td style="padding: 15px;width: 600px;line-height: 1.6;">
									
									<!-- column 1 -->
									<table align="left" style="width: 300px!important;float:left;">
										<tr>
											<td style="padding: 15px; display: table-cell;vertical-align: inherit;">			
												<h5 style="font-weight:900; font-size: 17px;">Conectate:</h5>
												<p class=""><a href="#" style="padding: 3px 7px; font-size:12px; margin-bottom:10px; text-decoration:none; color: #FFF;font-weight:bold; display:block; text-align:center; background-color: #3B5998!important">Facebook</a> <a href="#" style="padding: 3px 7px; font-size:12px; margin-bottom:10px; text-decoration:none; color: #FFF;font-weight:bold; display:block; text-align:center; background-color: #1daced!important">Twitter</a> <a href="#" style="padding: 3px 7px; font-size:12px; margin-bottom:10px; text-decoration:none; color: #FFF;font-weight:bold; display:block; text-align:center; background-color: #DB4A39!important">Google+</a></p>
						
												
											</td>
										</tr>
									</table><!-- /column 1 -->	
									
									<!-- column 2 -->
									<table align="left" style="width: 300px!important;float:left;">
										<tr>
											<td style="padding: 15px; display: table-cell;vertical-align: inherit;">
												<h5 style="font-weight:900; font-size: 17px;">Número de Contacto:</h5>												
												<p style="font-weight: normal; font-size: 14px; line-height: 1.6; font-family: 'Helvetica Neue'">Phone: <strong>+569-776-9021</strong><br/>
                Email: <strong><a href="emailto:info@proyecto.com">info@proyecto.com</a></strong></p>
                
											</td>
										</tr>
									</table><!-- /column 2 -->
									
									<span class="clear"></span>	
									
								</td>
							</tr>
						</table><!-- /social & contact -->
						
					</td>
				</tr>
			</table>
			</div><!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->
</body>
 
